@model DressVM
@{
    List<DressVM> recommendations = ViewBag.Recommendations;
}
<div class="container">
    <h1>Details</h1>

    <div class="row mt-3">
        <div class="col-5">
            <img src=~/@Model.PhotoPath class="details-img" />
        </div>
        <div class="col-3">
            <div>
                <h4>Components</h4>
                <h6>Top: @Model.Top.Name</h6>
                <h6>Skirt: @Model.Skirt.Name</h6>
                <h6>Sleeve: @Model.Sleeve.Name</h6>
            </div>
            <div>
                <h4><span>€@Model.Price</span></h4>
            </div>
            <hr />
            <form asp-controller="Order" asp-action="AddItem" method="Post">
                <div class="">
                    <label asp-for="SelectedSize" class="control-label"></label><br />
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @{ bool first = true;}
                        @foreach (var s in Model.Size)
                        {
                            if (first)
                            {
                                first = false;
                                <label class="btn btn-secondary active">
                                    <input type="radio" asp-for="SelectedSize" value="@s" checked />@s<br />
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-secondary">
                                    <input type="radio" asp-for="SelectedSize" value="@s" />@s<br />
                                </label>
                            }

                        }
                    </div>
                    <span asp-validation-for="SelectedSize" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group mt-3">
                    <input type="submit" value="Add to cart" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="jumbotron" style="background-color:#f0cedd">
                <h2>We fit your gorgeous body into every dress!</h2>
                <h6 class="text-info">Arrange a video call and let us sew your dream. </h6>
                <form class="mt-3">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="example@example.com" />
                        <button id="button" type="button" class="form-control mt-2 bg-info"><span style="color:#f0cedd">Send</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h2>See also</h2>
        <div class="row mt-2">

            @foreach (var dress in recommendations)
            {
                <div class="col-3">
                    <div class="card card-bg shadow">
                        <a asp-controller="Dress" asp-action="Details" asp-route-id=@dress.DressId>
                            <img class="card-img-top img-recommend" src=~/@dress.PhotoPath />
                        </a>
                        <div class="card-body">
                            <div class="d-block">
                                <h6 class="d-inline">Top: @dress.Top.Name</h6><br />
                                <h6 class="d-inline">Skirt: @dress.Skirt.Name</h6><br />
                                <h6 class="d-inline">Sleeve: @dress.Sleeve.Name</h6><br />
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<script>
    document.getElementById("button").onclick = function () {
        confirm("Thank you. We will contact with you soon!");
    }
    $().button('toggle');
    $().button('dispose');

</script>